@font-face{
    font-family: "kalame";
    src: url('./fonts/KalamehWeb/woff/KalamehWeb_Black.woff');
}
@font-face{
    font-family: "kalame_bold";
    src: url('./fonts/KalamehWeb/woff/KalamehWeb_Bold.woff');
}
body{
    overflow-y: hidden;
}
.mainpic_1_1{
    width: 0px;
    visibility: hidden;
}
.mainpic_1_1_1{
    width: 0px;
    visibility: hidden;
}
.mainpic_1{
    width: 100%;
    transition : transform 1s ;
    z-index: -4;
}

.mainpic_2{
    position: absolute;
    width : 830px;
    top : 11.4%;
    right: 54%;
}
.cyan2{display: none;}
.yellow2{display: none;}
.purple2{display: none;}



.footer1{
    border: none;
    position: absolute;
    top: 0%;
    left : 0%;
    width : 44%;
    /* min-width: 800px; */
    /* min-width: 840px;
    max-width: 860px; */

    margin-top: 5.2%;
    margin-left: 4%;
}
.footer2{
    border: none;
    position: absolute;
    top: 0%;
    left : 0%;
    width : 44%;
    /* min-width: 800px; */
    /* min-width: 840px;
    max-width: 860px; */

    margin-top: 13%;
    margin-left: 4%;
}
.footer3{
    border: none;
    position: absolute;
    top: 0%;
    left : 0%;
    width : 44%;
    /* min-width: 800px; */
    /* min-width: 840px;
    max-width: 860px; */
 
    margin-top: 23.3%;
    margin-left: 4%;
}
.footer4{
    border: none;
    position: absolute;
    top: 0%;
    left : 0%;
    width : 44%;
    height: auto;
    margin-top: 33.2%;
    margin-left: 4%;
}
.col:hover{
    opacity: 84%;

}
.colors{
    width : 84%;
    margin-top: 0%;
}

p{
    font-family: "kalame_bold";
    font-size : 0.92vw;
    position: fixed;
    
}
p > strong{
    color: white;
    font-family: "kalame";
    font-size: 180%;
}
.orange{
    margin-top: 0%;
}
.title_1{
    position:initial;
    margin-top: -20%;
    margin-right: 22%;
}
.p1{
    color : white ;
    position: initial;
    margin-right: 22%;
    margin-top: -2.8%;
}
.yellow{
    margin-top: 5.6%;
    margin-right: 14%;
}
.title_2{
    position: initial;
    margin-top: -19.4%;
    margin-right: 34.8%;
}
.p2{
    color : white ;
    position: initial;
    margin-right: 34.8%;
    margin-top: -2.8%;
}
.purple{
    margin-right: 14%;
    margin-top: 4.4%;
}
.title_3{
    position: initial;
    color : black ;
    margin-top: -20%;
    margin-right: 34.8%;
}
.p3{
    color : white ;
    position: initial;
    margin-top: -3.7%;
    margin-right: 34.8%;
}
.cyan{
    margin-top: 4%;
}
.title_4{
    position: initial;
    margin-top: -20%;
    margin-right: 22%;
}
.p4{
    color : white ;
    position: initial;
    margin-top: -3.9%;
    margin-right: 22%;
}








.form1{
    border: none;
    width : 26%; 
    /* height: 700px; */
    /* max-height: 560px;
    max-width: 370px; */
    /* min-width: 500px;
    max-width: 520px; */
    height: auto;
    
    z-index: 3333;
    position: absolute;
    top: 0%;
    right: 0%;
    margin-top: 7%;
    margin-right: 6.6%;
 
}
.form2{
    width : 26%; 
    height: auto;
    z-index: 3333;
    position: absolute;
    top: 0%;
    right: 0%;
    margin-top: 13.6%;
    margin-right: 6.6%;
}
.form3{
    width : 26%; 
    /* height: 700px; */
    /* max-height: 560px;
    max-width: 370px; */
    /* min-width: 500px;
    max-width: 520px; */
    height: 60%;
    
    z-index: 3333;
    position: absolute;
    top: 0%;
    right: 0%;
    margin-top: 23.2%;
    margin-right: 6.6%;
}
.form4{
    width : 26%; 
    /* height: 700px; */
    /* max-height: 560px;
    max-width: 370px; */
    /* min-width: 500px;
    max-width: 520px; */
    height: 60%;
    
    z-index: 3333;
    position: absolute;
    top: 0%;
    right: 0%;
    margin-top: 28%;
    margin-right: 6.6%;
}
.form5{
    width : 26%; 
    /* height: 700px; */
    /* max-height: 560px;
    max-width: 370px; */
    /* min-width: 500px;
    max-width: 520px; */
    height: 60%;
    
    z-index: 3333;
    position: absolute;
    top: 0%;
    right: 0%;
    margin-top: 32.8%;
    margin-right: 6.6%;
}
.form6{
    width : 26%; 
    /* height: 700px; */
    /* max-height: 560px;
    max-width: 370px; */
    /* min-width: 500px;
    max-width: 520px; */
    height: 60%;
    
    z-index: 3333;
    position: absolute;
    top: 0%;
    right: 0%;
    margin-top: 36%;
    margin-right: 6.6%;
}
.form7{
    width : 26%; 
    /* height: 700px; */
    /* max-height: 560px;
    max-width: 370px; */
    /* min-width: 500px;
    max-width: 520px; */
    height: 60%;
    
    z-index: 3333;
    position: absolute;
    top: 0%;
    right: 0%;
    margin-top: 37%;
    margin-right: 6.6%;
}
.form8{
    width : 26%; 
    /* height: 700px; */
    /* max-height: 560px;
    max-width: 370px; */
    /* min-width: 500px;
    max-width: 520px; */
    height: 60%;
    
    z-index: 3333;
    position: absolute;
    top: 0%;
    right: 0%;
    margin-top: 36.52%;
    margin-right: 19.3%;
}
.logopic{
    position: initial;
    width : 100%;
    margin-top: 3%;
    
    
}

.titlepage_1{
    font-size: 1.87vw;
    color : white;
    font-family: "kalame_Bold";
    position: initial;
    margin-top: 24.2%;
    margin-bottom: 3.2%;

}
.username_input{
    font-family: "kalame_Bold";
    color: white;
    font-size:1.58vw;
    background : none;
    background-image: url('./pics/usericon.png');
    background-size: 1vw;
    background-position: right;
    background-repeat: no-repeat;
    text-indent : 1.2vw;
    position: initial;
    width : 100%;
    height: 10%;
    border : none ;
    border-bottom: solid 0.18vw white;
    margin-top: 0px;
    margin-bottom: 0%;

}
.username_input:focus{
    background-image: none;
    text-indent: 20px;
}

.password_input{
    font-family: "kalame_Bold";
    color: white;
    font-size: 1.58vw;
    background : none;
    background-image: url('./pics/lockicon.png');
    background-size: 1vw;
    background-position: right;
    background-repeat: no-repeat;
    text-indent : 1.2vw;
    position: initial;
    width : 100%;
    height: 10%;
    border : none ;
    border-bottom: solid 0.18vw white;
    margin-top: 0px;
    margin-bottom: 0%;

}
.password_input:focus{
    background-image: none;
    text-indent: 1.3vw;
}
.capcha_input{
    font-family: "kalame_Bold";
    color: white;
    font-size: 1.58vw;
    background : none;
    background-image: url('./pics/securityicon.png');
    background-size: 1.06vw;
    background-position: right;
    background-repeat: no-repeat;
    text-indent : 1.2vw;
    position: absolute;
    position: initial;
    width : 69.4%;
    height: 10%;
    border : none ;
    border-bottom: solid 0.18vw white;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

.captchagroup{
    border: solid 2px red;
}
.capcha_input:focus{
    background-image: none;
    text-indent: 20px;
}
::placeholder {
    font-family: "kalame_bold";
    color: #B5EDFF;
    font-size: 1vw;
  }
input:focus {
    outline : none;
}
input:focus::placeholder{
    font-size: 0px;
}

.captcha_box{
    font-family: "kalame";
    border: none;
    position: initial;
    width : 25.8%;
    height: 7%;
    text-align: center;
    padding-top: 10px;
    border-radius: 0.3vw;
    background-color: white;
    margin-top: 20%;
    margin-right: 30%;
    margin-top: -6%;
    margin-right: 74%;
    margin-top: -9.4%;
    margin-bottom: 0px;
}
.captchapic{
    position: relative;
    width: 100%;
}


.register_button{
    font-family: "kalame";
    font-size: 1.22vw;
    position: initial;
    color: black;
    background-color: white;
    width : 48.5%;
    height: 2.88vw;
    border : none ;
    border-radius: 10vw;
    box-shadow: 2px 6px 8px 8px  rgba(0, 0, 0, 0.01);
    margin-top: 6.8%;
    margin-bottom: 0%;
}
.signup_button{
    font-family: "kalame";
    font-size: 1.22vw;;
    position: initial
    color: black;
    background-color: #2ECCFA;
    width : 48.5%;
    height: 2.88vw;
    border: none;
    border-radius: 10vw;
    box-shadow: 2px 6px 8px 8px  rgba(0, 0, 0, 0.05);
    margin-top: 7.8%;
    margin-bottom: 0%;
    margin-right : 2%;
}
button:focus{
    outline : none;
}




@media only screen and (max-width: 980px) {
    html , body{
        height : 100%;
        min-height: 100px;
        max-height: 100px;
        overflow-y: visible;
    }
    .mainpic_1{
       display: none;
    }
    .mainpic_1_1{
        visibility: visible;
        position: absolute;
        top : 0%;
        left: 0%;;
        width: 100%;
        z-index: -44;
    }
    .footer42{ display: initial;}
    .yellow2{display: initial;}
    .purple2{display: initial;}
    
    .form1{
        width : 52%; 
        height: auto;
        z-index: 3333;
        position: absolute;
        top: 0%;
        right: 0%;
        margin-top: 6%;
        margin-right: 22.6%;
    }
    .form2{
        width : 56%;
        height : auto;
        z-index: 3333;
        position: initial;
        margin-top: -180%;
        margin-right: 21.8%;
        margin-bottom: initial;
    }
    .titlepage_1{
        font-size: 3.77vw;
        position: initial;
        margin-right: initial;
        margin-top: initial;
        margin-bottom: initial;
        
    }
    .form3{
        
        width : 52%; 
        height: auto;
        z-index: 3333;
        position: absolute;
        top: 0%;
        right: 0%;
        margin-top: 41.2%;
        margin-right: 22.6%;
    }
    ::placeholder {
        font-family: "kalame_Bold";
        color: #B5EDFF;
        font-size: 2.6vw}
    .username_input{
        font-family: "kalame_Bold";
        color: white;
        font-size: 4vw;
        background : none;
        background-image: url('./pics/usericon.png');
        background-size: 3vw;
        background-position: right;
        background-repeat: no-repeat;
        text-indent : 4vw;
        position: initial;
        width : 100%;
        height: auto;
        border-bottom: solid 0.3vw white;
        margin-right:initial;
        margin-top: initial;
        margin-bottom: 0%;
    }
    .form4{
        
        width : 52%; 
        height: auto;
        z-index: 3333;
        position: absolute;
        top: 0%;
        right: 0%;
        margin-top: 50.8%;
        margin-right: 22.6%
    }
    .password_input{
        font-family: "kalame_Bold";
        color: white;
        font-size: 4vw;
        background : none;
        background-image: url('./pics/lockicon.png');
        background-size: 3vw;
        background-position: right;
        background-repeat: no-repeat;
        text-indent : 4vw;
        position: absolute;
        position: initial;
        width : 100%;
        height: auto;
        border-bottom: solid 0.3vw white;
        margin-right: initial;
        margin-top: initial;
    }
    .form5{
        width : 52%; 
        height: auto;
        z-index: 3333;
        position: absolute;
        top: 0%;
        right: 0%;
        margin-top: 59.8%;
        margin-right: 22.6%;
    }
    .capcha_input{
        font-family: "kalame_Bold";
        color: white;
        font-size: 4vw;
        background : none;
        background-image: url('./pics/securityicon.png');
        background-size: 3vw;
        background-position: right;
        background-repeat: no-repeat;
        text-indent : 4vw;
        position: absolute;
        position: initial;
        width : 64%;
        height: auto;
        border : none ;
        border-bottom: solid 0.3vw white;
        margin-right: initial;
        margin-top: initial;
    } 
    .form6{
        width : 18%; 
        height: 1%;
        z-index: 3333;
        position: absolute;
        top: 0%;
        right: 0%;
        margin-top: 59%;
        margin-right: 56.8%;
    }
    .captcha_box{
        font-family: "kalame";
        border: none;
        position: initial;
        width : 100%;
        height: 80%;
        text-align: center;
        padding-top: 10px;
        border-radius: 0.3vw;
        background-color: white;
        margin-top:initial;
        margin-right: initial;
    }
    .captchapic{
        position: relative;
        width: 100%;
    }
    .form7{
        
        width : 25%; 
        height: 3.1%;
        z-index: 3333;
        position: absolute;
        top: 0%;
        right: 0%;
        margin-top: 69.8%;
        margin-right:22.6%;
    }
    .register_button{
        font-family: "kalame";
        font-size: 3.4vw;
        position: initial;
        color: black;
        background-color: white;
        width : 100%;
        height: 6VW;
        border : none ;
        border-radius: 10vw;
        box-shadow: 2px 6px 8px 8px  rgba(0, 0, 0, 0.05);
        margin-top: initial;
        margin-right: initial;
    }
    .form8{
        width : 25%; 
        height: 3.1%;
        z-index: 3333;
        position: absolute;
        top: 0%;
        right: 0%;
        margin-top: 69.8%;
        margin-right: 49.8%;
    }
    .signup_button{
        font-family: "kalame";
        font-size: 3.2vw;
        position: initial;
        color: black;
        background-color: #2ECCFA;
        width : 100%;
        height: 6VW;
        border: none;
        border-radius: 10vw;
        box-shadow: 2px 6px 8px 8px  rgba(0, 0, 0, 0.05);
        margin-top: initial;
        margin-bottom: initial;
        
    } 
    .colors{
        width : 100%;
        margin-top: initial;
    
    
    }

    .footer1{
        position: initial;
        width : 84%;
        margin-top: 120.2%;
        margin-right : 8.5%;
        margin-left: initial;
    }
    .orange{
        width: 100%;
        position: initial;
        margin-top: initial; 
    }
    .title_1{
        position: initial;
        margin-top: -25%;
        margin-right: 24.4%;
        font-size: 2.7vw;
    }
    .p1{
        color : white ;
        position: initial;
        margin-top: -6.2%;
        margin-right: 24.4%;
        font-size: 2.3vw;
    }
    .footer2{
        position: initial;
        width : 84%;
        margin-top: 7.6%;
        margin-right : 8.5%;
    }
    .yellow{display: none;}
    .yellow2{
        width: 100%;
        position: initial;
        margin-top: initial;
    }
    .title_2{
        position: initial;
        margin-top: -25%;
        margin-right: 24.4%;
        font-size: 2.7vw;
    }
    .p2{
        color : white ;
        position: initial;
        margin-top: -6.2%;
        margin-right: 24.4%;
        font-size: 2.3vw;
    }
    .footer3{
        position: initial;
        width :84%;
        margin-top: 7.6%;
        margin-right: 8.5%;
    }
    .purple{display: none;}
    .purple2{
        width: 100%;
        position: initial;
        margin-top: initial;
    }
    .title_3{
        position: initial;
        margin-top: -26.4%;
        margin-right: 24.4%;
        font-size: 2.7vw;
    }
    .p3{
        color : white ;
        position: initial;
        margin-top: -6.6%;
        margin-right: 24.4%;
        font-size: 2.3vw;
        line-height: 2.4vw;
    }
    .cyan{
        display: none;
    }

    .footer4{
        
        position: initial;
        width : 84%;
        height: auto;
        margin-top: 7.6%;
        margin-right: 8.5%;
    }
    .cyan2{
        display: initial;
        width : 100%
    }
    .title_4{
        position: initial;
        margin-top: -25.8%;
        margin-right: 24.4%;
        font-size: 2.7vw;
    }
    .p4{
        color : white ;
        position: initial;
        margin-top: -7%;
        margin-right: 24.4%;
        font-size: 2.3vw; 
        line-height: 2.4vw;
    }
}
