@font-face{
    font-family: "kalame";
    src: url('./fonts/KalamehWeb/woff/KalamehWeb_Black.woff');
}
@font-face{
    font-family: "kalame_bold";
    src: url('./fonts/KalamehWeb/woff/KalamehWeb_Bold.woff');
}
.mainpic_1_1{
    display: none;
}
.mainpic_1{
    width: 100%;
    height: 100%;
}
.colors{
    width: 100%;
}
.footer{
    border : solid 3px red;
    width: 50%;
}
.space{
    border : solid 3px black;
}
.form{
    border : solid 3px cyan;
}
